/* GLOBAL */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Lato', sans-serif; }

.container { max-width: 1024px; margin: 0 auto; }

section { padding-top: 112px; padding-bottom: 75px; }

/* MAIN ELEMENTS STYLES */
.main-btn { width: 170px; height: 49px; font-size: 12px; font-weight: bold; color: #fff; letter-spacing: 2px; border: none; border-radius: 3px; background-color: #159f85; margin-top: 30px; cursor: pointer; line-height: normal; transition: .3s; }

.main-btn:hover { background-color: #0d7c66; }

.main-headline { font-size: 18px; letter-spacing: 3px; color: #159f85; font-weight: bold; padding-bottom: 20px; }

.main-paragraph { font-size: 12.5px; letter-spacing: 2px; line-height: 24px; color: #373737; }

.arrow { font-size: 30px; color: #000; text-decoration: none; line-height: 20px; transition: .2s; }

.arrow:hover { color: #159f85; text-decoration: none; }

/* HEADER SECTION */
header { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; background: url("../images/header-photo.png"); background-size: cover; height: 100vh; background-position: center bottom; }

header .main-nav { -ms-flex: 1; flex: 1; }

header nav { padding-top: 42px; display: -ms-flexbox; display: flex; -ms-flex-align: end; align-items: flex-end; }

header nav a { color: #fff; font-size: 17px; font-weight: bold; letter-spacing: 2px; padding: 0 35px; transition: .3s; }

header nav a:hover { color: #159f85; text-decoration: none; }

header nav img { padding: 0 60px; }

header .hero { -ms-flex: 1.5; flex: 1.5; color: #fff; text-align: center; }

header .hero h1 { font-size: 35px; font-weight: bold; letter-spacing: 5px; }

header .hero p { font-size: 18px; letter-spacing: 2px; margin-bottom: 0; }

header .social { -ms-flex: 0; flex: 0; margin-bottom: 8px; font-size: 25px; }

header .social a { color: #fff; transition: .3s; padding: 0 10px; }

header .social a:hover { color: #c87352; }

.general-info { background-color: #F5F6F7; overflow: hidden; }

.general-info .container { position: relative; }

.general-info img { position: absolute; top: -35px; left: -55px; }

.about-design { overflow: hidden; }

.about-design .container { position: relative; }

.about-design h4 { margin-bottom: 0; padding-top: 40px; font-size: 13px; letter-spacing: 2.5px; font-weight: bold; }

.about-design img { position: absolute; }

.about-design .arrow { padding-right: 9px; }

.gallery { background-color: #F5F6F7; }

.gallery .gallery-arrows { text-align: right; }

.gallery .gallery-arrows .arrow { padding-left: 9px; }

.gallery .gallery-img { display: block; width: 100%; }

.gallery .gallery-el { text-align: center; color: #373737; }

.gallery .gallery-el img { margin: 20px 0; }

.gallery .gallery-el h4 { font-size: 16px; font-weight: bold; letter-spacing: 2px; margin-bottom: 15px; }

.gallery .gallery-el p { font-size: 12px; width: 50%; margin: 0 auto; }

.subscribe { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; background-image: url("../images/subscribe-back.png"); background-size: cover; background-position: center; height: 790px; text-align: center; }

.subscribe .input-group { width: 75%; height: 60px; margin: 0 auto; }

.subscribe h3 { color: #fff; font-size: 24px; letter-spacing: 4px; font-weight: bold; margin-bottom: 20px; }

.subscribe .btn { background-color: #159f85; color: #fff; font-size: 20px; padding: 0 20px; transition: .3s; }

.subscribe .btn:hover { background-color: #0d7c66; }
