/* GLOBAL */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Lato', sans-serif; }

.container { max-width: 1024px; margin: 0 auto; }

.smaller-container { max-width: 900px; margin: 0 auto; }

section { padding-top: 112px; padding-bottom: 75px; }

/* GLOBAL ELEMENTS STYLES */
.main-btn { width: 170px; height: 49px; font-size: 12px; font-weight: bold; color: #fff; letter-spacing: 2px; border: none; border-radius: 3px; background-color: #159f85; margin-top: 30px; cursor: pointer; line-height: normal; transition: .3s; }

.main-btn:hover { background-color: #0d7c66; }

.main-headline { font-size: 18px; letter-spacing: 3px; color: #159f85; font-weight: bold; padding-bottom: 20px; }

.main-paragraph { font-size: 12.5px; letter-spacing: 2px; line-height: 24px; color: #373737; }

.arrow { font-size: 30px; color: #000; text-decoration: none; line-height: 20px; transition: .2s; }

.arrow:hover { color: #159f85; text-decoration: none; }

/* HEADER SECTION */
header { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; background: url("../images/header-photo.png"); background-size: cover; min-height: 100vh; background-position: center bottom; position: relative; }

header .main-nav { -ms-flex: 1; flex: 1; }

header .main-nav nav { padding-top: 42px; display: -ms-flexbox; display: flex; -ms-flex-align: end; align-items: flex-end; }

header .main-nav nav a.nav-el { color: #fff; font-size: 17px; font-weight: bold; letter-spacing: 2px; padding: 0 35px; transition: .3s; }

header .main-nav nav a.nav-el:hover { color: #159f85; text-decoration: none; }

header .main-nav nav img.logo-lg { padding: 0 60px; }

header .main-nav nav img.logo-sm { display: none; }

header .main-nav nav button#hamburger-menu { background-color: transparent; border: none; cursor: pointer; }

header .main-nav nav button#hamburger-menu i.fa-bars { display: none; color: #fff; font-size: 50px; }

header .hero { -ms-flex: 1.5; flex: 1.5; color: #fff; text-align: center; }

header .hero h1 { font-size: 35px; font-weight: bold; letter-spacing: 5px; }

header .hero p { font-size: 18px; letter-spacing: 2px; margin-bottom: 0; }

header .social { -ms-flex: 0; flex: 0; margin-bottom: 8px; font-size: 25px; }

header .social a { color: #fff; transition: .3s; padding: 0 10px; }

header .social a:hover { color: #159f85; }

.general-info { background-color: #F5F6F7; overflow: hidden; }

.general-info .container { position: relative; }

.general-info img { position: absolute; bottom: -365px; right: 0; }

.general-info h2 span { display: block; }

.about-design { overflow: hidden; }

.about-design .container { position: relative; }

.about-design h4 { margin-bottom: 0; padding-top: 40px; font-size: 13px; letter-spacing: 2.5px; font-weight: bold; }

.about-design .phone-lg img { position: absolute; }

.about-design .arrow-left, .about-design .arrow-right { padding-right: 9px; }

.about-design .phone-sm { display: none; }

.gallery { background-color: #F5F6F7; }

.gallery .gallery-arrows { text-align: right; }

.gallery .gallery-arrows .arrow-left, .gallery .gallery-arrows .arrow-right { padding-left: 9px; }

.gallery .gallery-img { display: block; width: 100%; }

.gallery .gallery-el { text-align: center; color: #373737; }

.gallery .gallery-el img { margin: 20px 0; }

.gallery .gallery-el h4 { font-size: 16px; font-weight: bold; letter-spacing: 2px; margin-bottom: 15px; }

.gallery .gallery-el p { font-size: 12px; width: 50%; margin: 0 auto; }

.subscribe { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; background-image: url("../images/subscribe-back.png"); background-size: cover; background-position: center; height: 100vh; text-align: center; }

.subscribe .input-group { width: 75%; height: 60px; margin: 0 auto; }

.subscribe h3 { color: #fff; font-size: 24px; letter-spacing: 4px; font-weight: bold; margin-bottom: 20px; }

.subscribe .btn { background-color: #159f85; color: #fff; font-size: 20px; padding: 0 20px; transition: .3s; }

.subscribe .btn:hover { background-color: #0d7c66; }

.download-info { background-color: #F5F6F7; color: #373737; text-transform: uppercase; text-align: center; }

.download-info h2 { font-size: 22px; letter-spacing: 3px; font-weight: bold; }

.download-info p { font-size: 12px; letter-spacing: 1px; line-height: 22px; }

.download-info a { display: -ms-inline-flexbox; display: inline-flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; background-color: #1abc9c; color: #fff; margin: 15px 10px; border-radius: 3px; transition: .3s; }

.download-info a:hover { text-decoration: none; background-color: #159f85; }

.download-info a p { margin: 0; font-size: 15px; font-weight: bold; letter-spacing: 2px; width: 230px; line-height: 15px; text-align: left; margin-left: 15px; }

.download-info a i { background-color: #159f85; padding: 15px; font-size: 30px; border-radius: 3px; }

footer { margin-top: 40px; }

footer .infos { display: inline-block; }

footer img { float: right; }

footer p { font-weight: bold; letter-spacing: 2px; color: #373737; line-height: 50px; }

footer a { font-weight: bold; color: #373737; letter-spacing: 2px; }

footer a:hover { text-decoration: none; color: #159f85; }

footer a span { color: #159f85; font-weight: bolder; }

@media (max-width: 767px) { section { padding-top: 70px; padding-bottom: 60px; }
  header { transition: all 0.5s ease-in-out; }
  header .main-nav.wide { width: 100%; text-align: center; background-image: linear-gradient(#000, transparent); min-height: 20vh; }
  header .main-nav nav { padding-top: 10px; width: 90vw; margin: 0 auto; -ms-flex-pack: justify; justify-content: space-between; }
  header .main-nav nav a { display: none; }
  header .main-nav nav img.logo-lg { display: none; }
  header .main-nav nav img.logo-sm { display: block; }
  header .main-nav nav button#hamburger-menu i.fa-bars { display: block; }
  header .main-nav nav.expanded { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  header .main-nav nav.expanded a.nav-el { display: block; text-align: center; -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 15px 0; }
  header .hero { min-height: 60vh; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }
  header .hero h1 { font-size: 28px; }
  header .social { min-height: 20vh; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: end; align-items: flex-end; }
  .general-info { padding-bottom: 0; }
  .general-info img { position: static; width: 90vw; }
  .general-info h2 span { display: inline; }
  .left-no-padding { padding-left: 0; }
  .about-design .phone-lg { display: none; }
  .about-design .phone-sm { display: block; text-align: center; }
  .about-design .phone-sm img { height: 60vh; }
  .about-design .arrows { text-align: center; margin: 10px 0; }
  .about-design .arrow-left { padding: 0 9px 0 0; }
  .about-design .arrow-right { padding: 0 0 0 9px; }
  .gallery .gallery-arrows { text-align: center; }
  .gallery .gallery-arrows .arrow-left { padding: 0 9px 0 0; }
  .gallery .gallery-arrows .arrow-right { padding: 0 0 0 9px; }
  .gallery .gallery-img { margin: 5px auto; width: 80%; height: auto; }
  .gallery .gallery-el { text-align: center; color: #373737; padding-bottom: 30px; } }

@media (max-width: 768px) and (orientation: landscape) { header .main-nav { -ms-flex: 1.5; flex: 1.5; }
  header .main-nav nav.expanded a.nav-el { transform: translateY(-40px); font-size: 15px; margin: 0 60px; } }

@media (max-width: 576px) { header .hero h1 { font-size: 25px; }
  footer { text-align: center; }
  footer img { display: none; }
  footer p { font-size: 12px; } }

@media (max-width: 370px) and (orientation: portrait) { header nav.expanded a.nav-el { padding: 0; }
  footer p { padding-top: 10px; line-height: 12px; }
  footer a { font-size: 14px; } }
